# Node dependencies (ignore everywhere)
node_modules/

# Environment variables (ignore everywhere)
.env

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS / Editor files
.DS_Store
.vscode/
.idea/

# Build folders
dist/
build/
